# Logs
*.log
**/logs/*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.local
**/dist-ssr/*
**/dist/*
**/node_modules/*

# Editor directories and files
.DS_Store
*.njsproj
*.ntvs*
*.suo
*.sw?
**/.idea/*
**/.vscode/*

# Miscellaneous
*.env
*.exe
*.mkv
*.mp4
## The build/ folder is usually ignored, but we are using it as the production
## folder for now. You could very easily push this to a separate repository.
# **/build/*
**/debug/*
**/src-tauri/target
sync.ffs_db
