# prettier ignores files setup in .gitignore

coverage
docs
examples

# lock files
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# miscellaneous
src/lib/ericchase

**/*.js
**/*.jsx
**/*.ts
**/*.tsx
