# prettier ignores files setup in .gitignore

# use biome for these
# https://biomejs.dev/internals/language-support/
*.js
*.ts
*.jsx
*.tsx
*.json
*.jsonc
*.css
*.graphqls
*.graphql

# probably don't want to format your hand written documents
coverage/
docs/
examples/

# don't want to format lock files
*-lock.json
*-lock.yaml

# up to you whether you want to format the resulting files
out/

# library comes pre-formatted, but you can format it differently if you want
src/lib/ericchase/
